iframe#webpack-dev-server-client-overlay{
    display:none!important;
}

html.dark #conversation-panel {
    background-color: #0c0c0c !important; 
}

html.dark #input-panel {
    background-color: #0f0f0f !important;
}

/* Remove the help bubbles */
#input-panel > form > div > div:not([class]) {
    display: none;
}

html.input-bottom #promt-area-bottom-background-1,
html.input-bottom #promt-area-bottom-background-2 {
    display: none;
}


html.input-right #file-attach-button,
html.input-left #file-attach-button {
    left: 0.55rem !important;
}
html.input-right #prompt-textarea,
html.input-left #prompt-textarea {
    display: none;
}