iframe#webpack-dev-server-client-overlay{
    display:none!important;
}

html.dark #conversation-panel {
    background-color: #0c0c0c !important; 
}

html.dark #input-panel {
    background-color: #0f0f0f !important;
}

/* Remove the help bubbles */
#input-panel > form > div > div:not([class]) {
    display: none;
}

html.input-bottom #prompt-input-root {
    display: none;
}


html.input-right #file-attach-button,
html.input-left #file-attach-button {
    left: 0.55rem !important;
    bottom: 0.85rem !important;
}
html.input-right #prompt-textarea,
html.input-left #prompt-textarea {
    display: none;
}

#prompt-input-root {
    border-bottom: 1px solid #ccc; /* Subtle gray line */
    margin-bottom: 50px;
    padding-bottom: 8px;
    padding-top: 16px;
}

.ace_gutter {
    width: 10px !important;
    background-color: none !important;
}
.ace_scroller {
    left: 10px !important;
}